/* seletor :nth-child() */
li:nth-child(even){
    color: #0f0;
}

li:nth-child(odd){
    color: #00f;
}

li:nth-child(3n){
    color: #0ff;
}

li:nth-child(2){
    color: #f00;
}

input:focus{
    background-color: #f00;
}

/* ::before e ::after */
li::before{
    content: '(antes) ';
}

li::after{
    content: ' (depois)';
}

li:first-child{
    color: #fa0;
}

li:not(:first-child){
    background-color: #ddd;
}

li:hover{
    background-color: #777;
    color: #fff;
}